/*common style*/
body {
	margin: 0;
}

div {
	box-sizing: border-box;
}

.colormenu {
	background: red;
}

.colornews {
	background: coral;
	color: white;
}

.colornav {
	background: black;
	color: white;
}

.colorlogo,
.colorlist,
.colorfooter {
	background: orange;
}

.colorlogo,
.colormenu,
.colornews,
.colorlist,
.colornav,
.colorfooter {
	border: 0.5px solid black;
}

/*flex for align text*/

.alignflex {
	display: flex;
}

/* text */
.text {
	display: inline-block;
	text-transform: uppercase;
	margin: auto;
}

/*end of common style*/


/*____________FLEX____________*/

/*flex containers*/

.container,
.firstcont,
.secondcont {
	display: flex;
}


.container {
	flex-wrap: wrap;
}

.nav {
	flex-grow: 1;
}

/*end of general container*/


/*firstcont*/

.firstcont {
	width: 100%;
	height: 100px;
}

.logo {
	width: 100px;
}

.menu {
	height: 100px;
	flex-grow: 1;
}

/*end of firstcont*/


/*secondcont*/
.secondcont {
	flex-wrap: wrap;
	flex-grow: 2;
}

.news {
	width: 100px;
	height: 300px;
	text-align: center;
}

.list {
	height: 300px;
	width: calc(100% - 100px);
}

.footer {
	height: 150px;
	flex-grow: 2;
}

/*end of secondcont*/



/*______________ GRID ______________*/

.gridcontainer {
	display: grid;
	grid-template-rows: 100px 300px 150px;
	grid-template-columns: 100px 26fr 14fr; 
}

/*some grid items*/

.gridmenu {
	grid-column: span 2;
}

.gridnews {
	text-align: center;
}

.gridnav {
	grid-row: span 2;
}

.gridfooter {
	grid-column: span 2;
}
