/*common style*/
* {
	margin: 0;
	box-sizing: border-box;
}

.colormenu {
	background: red;
}

.colornews {
	background: coral;
	color: white;
}

.colornav {
	background: black;
	color: white;
}

.colorlogo,
.colorlist,
.colorfooter {
	background: orange;
}

/*flex for align text & make borders*/

.alignflex {
	display: flex;
	border: 0.5px solid black;
}

/* text */
.text {
	display: inline-block;
	text-transform: uppercase;
	margin: auto;
}

/*end of common style*/


/*____________FLEX____________*/

/*flex containers*/
.header,
.main,
.content {
	display: flex;
}

/*end of flex containers*/

/*header*/

.logo {
	width: 100px;
	height: 100px;
}

.menu {
	flex-grow: 1;
}
/*end of header*/

/*main*/
.nav {
	height: 450px;
	flex-basis: 0;
	flex-grow: 35;
}


/*content*/
.content {
	flex-basis: 100px;
	flex-grow: 65;
	flex-wrap: wrap;
}
.news {
	width: 100px;
	height: 300px;
	text-align: center;
}

.list {
	height: 300px;
	flex-grow: 1;
}

.footer {
	height: 150px;
	width: 100%;
}
/*end of content*/

/*end of main*/


/*______________ GRID ______________*/

.gridcontainer {
	display: grid;
	grid-template-rows: 100px 300px 150px;
	grid-template-columns: 100px 13fr 7fr; 
}

/*some grid items*/

.gridmenu {
	grid-column: span 2;
}

.gridnews {
	text-align: center;
}

.gridnav {
	grid-row: span 2;
}

.gridfooter {
	grid-column: span 2;
}
